{%include 'admin_header.html'%}
  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="container">
      <div class="row d-flex align-items-center" style="padding-top: 210px;padding-left: 300px;">
      <div class=" col-lg-6 py-5 py-lg-0 order-2 order-lg-1" data-aos="fade-right">
        <h1>Welcome to Admin Panel</h1>
        <h2></h2>
        <a href="/allitems" class="btn-get-started scrollto"></a>  
      </div>
      <!-- <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-right">
        <h1></h1> 
         <img src="/static/adminassets/img/blur.jpg" class="img-fluid" alt="">
      </div> -->
    </div>
    </div>
  </section>
  <!-- End Hero -->
{%include 'admin_footer.html'%}