{%include 'admin_header.html'%}

<style>
    .google-search-container {
        display: flex;
        align-items: center;
        width: 300px; /* Adjust the width as needed */
        margin: 0 auto;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
    }

    .google-search-input {
        flex: 1;
        padding: 10px;
        border: none;
        outline: none;
    }
    
    .google-search-button {
        padding: 10px 15px;
        background-color: #4285f4;
        color: #fff;
        border: none;
        cursor: pointer;
    }
</style>

<main id="main">
    <!-- ======= About Section =======-->
        <section id="about" class="about" style="background-image:purple">
          <div class="container">
    
            <div class="section-title" data-aos="fade-in">
              <h2>MANAGE DOCTOR</h2>
            </div>

{%if data['updatess']%}
<center>
    <!-- <h1>MANAGE DOCTOR</h1> -->
    <form method="post" enctype="multipart/form-data">
        <table class="table table-striped">
            <tr>
                <th>FIRST NAME:</th>
                <td><input type="text" name="firstname"  required value="{{data['updatess'][0]['first_name']}}" class="form-control"></input></td>
            </tr>
            <tr>
                <th>LAST NAME:</th>
                <td><input type="text" name="lastname"  value="{{data['updatess'][0]['last_name']}}" class="form-control" required></td>
            </tr>
            <tr>
                <th>PHONE:</th>
                <td><input type="text" name="phone"  value="{{data['updatess'][0]['phone']}}" maxlength="10" class="form-control"  required></td>
            </tr>
            <tr>
                <th>EMAIL:</th>
                <td><input type="text" name="email"  value="{{data['updatess'][0]['email']}}" class="form-control" required></td>
            </tr>
            <tr>
                <th>PLACE:</th>
                <td><input type="text" name="place"  value="{{data['updatess'][0]['place']}}" class="form-control" required></td>
            </tr>
            <tr>
                <th>QUALIFICATION:</th>
                <td><input type="text" name="qualification"  value="{{data['updatess'][0]['qualification']}}" class="form-control" required></td>
            </tr>
            <tr>
                <th>IMAGE:</th>
                <!-- <td><img src="{{data['updatess'][0]['image']}}" alt="doctor image" style="height: 160px; width: 160px;" class="form-control"></td> -->
                <td><input type="file" name="image" value="{{data['updatess'][0]['image']}}" class="form-control" required></td>
            </tr>
            <tr>
                <td align="center" colspan="2"><input type="submit" class="btn btn-primary" name="update"></td>
            </tr>
        </table>
    </form>
</center>
{%else%}

<center>
    <!-- <h1>MANAGE DOCTOR</h1> -->
    <form method="post" enctype="multipart/form-data">
        <table class="table table-striped">
            <tr>
                <th>FIRST NAME:</th>
                <td><input type="text" name="firstname" class="form-control" placeholder="Enter first name" required></td>
            </tr>
            <tr>
                <th>LAST NAME:</th>
                <td><input type="text" name="lastname" class="form-control" placeholder="Enter last name" required></td>
            </tr>
            <tr>
                <th>PHONE:</th>
                <td><input type="text" name="phone" class="form-control" required placeholder="Enter phone number" maxlength="10"></td>
            </tr>
            <tr>
                <th>EMAIL:</th>
                <td><input type="email" name="email" class="form-control" placeholder="Enter email" required></td>
            </tr>
            <tr>
                <th>PLACE:</th>
                <td><input type="text" name="place" class="form-control" placeholder="Enter place" required></td>
            </tr>
            <tr>
                <th>QUALIFICATION:</th>
                <td><input type="text" name="qualification" class="form-control" placeholder="Enter qualification" required></td>
            </tr>
            <tr>
                <th>IMAGE:</th>
                <td><input type="file" name="image" placeholder="Inert image" class="form-control" required></td>
            </tr>
            <tr>
                <th>USER NAME:</th>
                <td><input type="text" name="username" placeholder="Enter username" class="form-control" required></td>
            </tr>
            <tr>
                <th>PASSWORD:</th>
                <td><input type="password" name="password" id="password" class="form-control" placeholder="Enter password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"></td>
            </tr>
            <tr>
                <th>CONFIRM PASSWORD:</th>
                <td><input type="password" name="confirmpassword" class="form-control" placeholder="Confirm password" onkeyup="check()" required id="confirm_password" required><span id="message"></span></td>
            </tr>

            <tr>
                <td align="center" colspan="2"><input type="submit" class="btn btn-primary" name="submit"></td>
            </tr>
        </table>
    </form>
</center>
{%endif%}
<br>
<br>
<center>
    <div class="container py-lg-5">

        <div class="google-search-container">
            <input type="text" class="google-search-input" id="search" placeholder="Search...">
            <button class="google-search-button" id="searchButton">Search</button>
        </div>
<table class="table table-striped">
    <thead>
    <tr>
        <th>SL NO.</th>
        <th>NAME</th>
        <th>PHONE</th>
        <th>EMAIL</th>
        <th>PLACE</th>
        <th>QUALIFICATION</th>
       
        
    </tr>
    </thead>
    {%for i in data['doctor']%}
    <tbody>
    <tr class="member-row">
        <td>{{loop.index}}</td>
        <td align="center">
            <img src="{{i['image']}}" alt="doc mage" style="width: 150px;height: 150px;">
            <br>
            {{i['first_name']}}  {{i['last_name']}}</td>
        <td>{{i['phone']}}</td>
        <td>{{i['email']}}</td>
        <td>{{i['place']}}</td>
        <td>{{i['qualification']}}</td>
     
        <td><a class="btn btn-success" href="?action=update&docid={{i['doctor_id']}}">UPDATE</a></td>
        <td><a class="btn btn-danger" href="?action=delete&docid={{i['doctor_id']}}">DELETE</a></td>
    </tr>
</tbody>
    {%endfor%}
</table>
</center>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(function() {
        $("input[name='firstname']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
        $("input[name='lastname']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
        $("input[name='place']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
        $("input[name='qualification']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
        $("input[name='phone']").on('input', function(e) {
        	$(this).val($(this).val().replace(/[^0-9]/g, ''));
            
        });
        $("input[name='pincode']").on('input', function(e) {
        	$(this).val($(this).val().replace(/[^0-9]/g, ''));
            
        });
        $("input[name='email']").on('input', function(e) {
              var re = /([A-Z0-9a-z_-][^@])+?@[^$#<>?]+?\.[\w]{1,}/.test(this.value);
                if(!re) {
                    $('#eerror').show();
                } else {
                    $('#eerror').hide();
                }
        });            
        $("input[name='password']").on('input', function(e) {
            
        	$(this).val($(this).val().replace(/[^0-9A-Za-z@/. ]/g, ''));
            
        });
    });
    function check() {
        
        if (document.getElementById('password').value == document.getElementById('confirm_password').value) {
            
            document.getElementById('message').style.color = 'green';
            document.getElementById('message').innerHTML = 'matching';
    } else {
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = 'not matching';
    }
}
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#search").on("keyup", function () {
            var searchTerm = $(this).val().toLowerCase();
            $(".member-row").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(searchTerm) >= 0);
            });
        });
    });
</script>

</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
crossorigin="anonymous"></script>

{%include 'admin_footer.html'%}