{% include 'ambulance_header.html'%}


<div id="wrapper">
    <div id="intro">
        <video autoplay muted loop id="video-background">
          <source src="/static/videoplayback.mp4" type="video/mp4">
          <!-- You can provide alternative video formats here -->
          Your browser does not support the video tag.
        </video>
      </div>
      
    <!-- Intro -->
        

    <div class="w3l-agent-block py-5" id="why">
      <div class="container py-lg-4">
        <div class="row align-items-center mt-5">
          <div class="col-lg-6">
            <div class="agent-block-image px-lg-5">
              <img src="/static/amb_assets/images/amb.png" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-6 mt-lg-0 mt-5 pl-lg-5">
            <h6 class="title-subhny">Explore</h6>
            <h3 class="title-w3l">
              Explore
              by Property Type</h3>
            <p class="my-3"> Vestibulum ante ipsum primis in faucibus orci luctus
              turpis sodales quis. Integer sit amet mattis quam.Vivamus a ligula quam tesque et libero ut justo ultrices
              in.</p>
  
            <div class="subscribe-cat">
              <div class="subscribe-cat-gd">
                <a href="#" class="subscribe-cat-link">Office</a>
                <p class="mt-2">Lorem ipsum viverra feugiat. Pellen tesque libero justo.</p>
              </div>
              <div class="subscribe-cat-gd">
                <a href="#" class="subscribe-cat-link">House</a>
                <p class="mt-2">Lorem ipsum viverra feugiat. Pellen tesque libero justo.</p>
              </div>
              <div class="subscribe-cat-gd">
                <a href="#" class="subscribe-cat-link">Villa</a>
                <p class="mt-2">Lorem ipsum viverra feugiat. Pellen tesque libero justo.</p>
              </div>
              <div class="subscribe-cat-gd">
                <a href="#" class="subscribe-cat-link">Apportment</a>
                <p class="mt-2">Lorem ipsum viverra feugiat. Pellen tesque libero justo.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


{% include 'amb_footer.html'%}