{%include 'dept_header.html'%}
<style>
  .header-hero-content {
      position: relative;
      top: -200px; /* Adjust the top position as needed */
  }
  .small-width {
      max-width: 400px; /* Adjust the width as needed */
      margin: 0 auto;
  }
</style>

<div id="home" class="header-hero bg_cover position-relative" style="background-image: url('static/dept_assets/images/header/banner-bg.svg');">
  <div class="video-overlay"></div> <!-- Add an overlay to give a blue tint to the video background -->
  <video autoplay muted loop>
      <source src="your_video.mp4" type="video/mp4"> <!-- Replace 'your_video.mp4' with your video file -->
  </video>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="header-hero-content text-center">
        <h3
          class="header-sub-title wow fadeInUp"
          data-wow-duration="1.3s"
          data-wow-delay="0.2s"
        >
        <br><br><br>
        Welcome to Your Department Hub
        </h3>
        <h2
          class="header-title wow fadeInUp"
          data-wow-duration="1.3s"
          data-wow-delay="0.5s"
        >
        Optimize Healthcare Workflow
        </h2>
        <p
          class="text wow fadeInUp"
          data-wow-duration="1.3s"
          data-wow-delay="0.8s"
        >
        Streamline healthcare operations and enhance patient care through our advanced department management system.
        </p>
        
      <a href="dept_view_doctors" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">
        Get Started
    </a>
       
      </div>
      <!-- header hero content -->
    </div>
  </div>
  <!-- row -->
  <br><br><br><br>
  <div class="row">
    <div class="col-lg-12">
      <div
        class="header-hero-image text-center wow fadeIn"
        data-wow-duration="1.3s"
        data-wow-delay="1.4s"
      >
  
  
  
  
      </div>
      <!-- header hero image -->
    </div>
  </div>
  <!-- row -->
</div>
<!-- container -->
<div id="particles-1" class="particles"></div>
</div>
    <!-- <h1>WELCOME .................</h1> -->
    <section id="about">
        <!--====== ABOUT PART START ======-->
        <div class="about-area pt-70">
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <div
                  class="about-content mt-50 wow fadeInLeftBig"
                  data-wow-duration="1s"
                  data-wow-delay="0.5s"
                >
                  <div class="section-title">
                    <div class="line"></div>
                    <h3 class="title">
                        Transforming Healthcare Operations <span>with Precision and Ease </span>
                    </h3>
                  </div>
                  <!-- section title -->
                  <p class="text">
                    Revolutionize healthcare management with our intuitive and efficient system. Seamlessly coordinate schedules for doctors, track patient history, and manage staff with precision. Our user-friendly interface ensures quick adoption, making it the ideal solution for optimizing your hospital's departmental workflows. Elevate the standard of patient care with our quick and easy-to-use hospital management platform.
                  </p>
                 
                </div>
                <!-- about content -->
              </div>
              <div class="col-lg-6">
                <div
                  class="about-image text-center mt-50 wow fadeInRightBig"
                  data-wow-duration="1s"
                  data-wow-delay="0.5s"
                >
                  <img src="https://cio-chime.org/wp-content/uploads/2019/03/AI-Transforming-Healthcare.jpg" alt="about"/>
                </div>
                <!-- about image -->
              </div>
            </div>
            <!-- row -->
          </div>
          <!-- container -->
          <div class="about-shape-1">
            <img src="static/dept_assets/images/about/about-shape-1.svg" alt="shape" />
          </div>
        </div>
        <!--====== ABOUT PART ENDS ======-->
          <!--====== ABOUT PART START ======-->
      <div class="about-area pt-70">
        <div class="about-shape-2">
          <img src="static/dept_assets/images/about/about-shape-2.svg" alt="shape" />
        </div>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 order-lg-last">
              <div
                class="about-content ms-lg-auto mt-50 wow fadeInLeftBig"
                data-wow-duration="1s"
                data-wow-delay="0.5s"
              >
                <div class="section-title">
                  <div class="line"></div>
                  <h3 class="title">
                    Streamlined Modern Design  <span> with Essential Healthcare Features</span>
                  </h3>
                </div>
                <!-- section title -->
                <p class="text">
                    Revolutionize your healthcare workflow with a modern design that seamlessly integrates essential features. Our platform ensures a user-friendly experience, allowing you to efficiently coordinate doctor schedules, track patient history, and manage staff with precision. Elevate your hospital's operations and embrace a new era of efficient and intuitive healthcare management.
                </p>
                
              </div>
              <!-- about content -->
            </div>
            <div class="col-lg-6 order-lg-first">
              <div
                class="about-image text-center mt-50 wow fadeInRightBig"
                data-wow-duration="1s"
                data-wow-delay="0.5s"
              >
                <img src="https://healthcare-in-europe.com/media/story_section_text/3565/image-01-picture-03-1_hires.jpg" alt="about"  />
              </div>
              <!-- about image -->
            </div>
          </div>
          <!-- row -->
        </div>
        <!-- container -->
      </div>
      <!--====== ABOUT PART ENDS ======-->
       <!--====== ABOUT PART START ======-->
       <div class="about-area pt-70">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div
                class="about-content mt-50 wow fadeInLeftBig"
                data-wow-duration="1s"
                data-wow-delay="0.5s"
              >
                <div class="section-title">
                  <div class="line"></div>
                  <h3 class="title">
                    <span> Tailored Excellence for </span> Your Software Ecosystem
                  </h3>
                </div>
                <!-- section title -->
                <p class="text">
                    Immerse yourself in a bespoke experience designed for SaaS, App, and Software landing pages. Our platform is meticulously crafted to elevate your digital presence, offering a harmonious blend of functionality and aesthetic appeal. With seamless navigation and innovative design, your software solutions take center stage. Join us on a journey where excellence meets technology, and make a lasting impression in the digital landscape.
                </p>
                </p>
               
              </div>
                 <!-- about content -->
            </div>
            <div class="col-lg-6">
              <div
                class="about-image text-center mt-50 wow fadeInRightBig"
                data-wow-duration="1s"
                data-wow-delay="0.5s"
              >
                <img src="https://readdive.com/wp-content/uploads/2020/09/Hospital-Management-System-Software-scaled.jpg" alt="about" />
              </div>
              <!-- about image -->
            </div>
          </div>
          <!-- row -->
        </div>
        <!-- container -->
        <div class="about-shape-1">
          <img src="static/dept_assets/images/about/about-shape-1.svg" alt="shape" />
        </div>
      </div>
      <!--====== ABOUT PART ENDS ======-->
       <!--====== VIDEO COUNTER PART START ======-->
    <section id="facts" class="video-counter pt-70">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 order-lg-last">
              <div
                class="counter-wrapper mt-50 wow fadeIn"
                data-wow-duration="1s"
                data-wow-delay="0.8s"
              >
                <div class="counter-content">
                  <div class="section-title">
                    <div class="line"></div>
                    <h3 class="title">Captivating Highlights <span>of Our Hospital Management System</span></h3>
                  </div>
                  <!-- section title -->
                  <p class="text">
                    Explore the impressive capabilities of our Hospital Management System. Designed with precision and user-centricity, our platform seamlessly coordinates doctor schedules, tracks patient history, and ensures efficient staff management. With cutting-edge technology and an intuitive interface, our system redefines healthcare management, making it a reliable solution for optimizing hospital workflows.
                  </p>
                </div>
                <!-- counter content -->
                <div class="row no-gutters">
                  <div class="col-4">
                    <div
                      class="
                        single-counter
                        counter-color-1
                        d-flex
                        align-items-center
                        justify-content-center
                      "
                    >
                      <div class="counter-items text-center">
                        <span
                          class="count countup text-uppercase"
                          cup-end="125"
                        ></span>
  
                        <p class="text">Workflows</p>
                      </div>
                    </div>
                    <!-- single counter -->
                  </div>
                  <div class="col-4">
                    <div
                      class="
                        single-counter
                        counter-color-2
                        d-flex
                        align-items-center
                        justify-content-center
                      "
                    >
                      <div class="counter-items text-center">
                        <span
                          class="count countup text-uppercase"
                          cup-end="87"
                        ></span>
                        <p class="text">Active Users</p>
                      </div>
                    </div>
                    <!-- single counter -->
                  </div>
                  <div class="col-4">
                    <div
                      class="
                        single-counter
                        counter-color-3
                        d-flex
                        align-items-center
                        justify-content-center
                      "
                    >
                      <div class="counter-items text-center">
                        <span
                          class="count countup text-uppercase"
                          cup-end="59"
                        ></span>
                        <p class="text">User Rating</p>
                      </div>
                    </div>
                    <!-- single counter -->
                  </div>
                </div>
                <!-- row -->
              </div>
              <!-- counter wrapper -->
            </div>
            <div class="col-lg-6 order-lg-first">
                <div
                  class="about-image text-center mt-50 wow fadeInRightBig"
                  data-wow-duration="1s"
                  data-wow-delay="0.5s"
                >
                  <img src="https://www.bradshawservices.co.uk/s/cc_images/teaserbox_9083523.png?t=1510681447" width="70%" height="50%" alt="about"  />
                </div>
              
              <!-- video content -->
            </div>
          </div>
          <!-- row -->
        </div>
        <!-- container -->
      </section>
      <!--====== VIDEO COUNTER PART ENDS ======-->
  

    
{%include 'dept_footer.html'%}