{% include 'public_header.html'%}
<br>
<br>

<br>
<br>
<br>

<br>
<br>

<br>
<br>
<br>


<!-- ======= hero Section ======= -->
<section id="hero">
  <div class="hero-container">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">


      <div class="carousel-inner" role="listbox">

        <div class="carousel-item active" style="background-image: url(static/assets/img/hero-carousel/1.jpg)">
          <div class="carousel-container">
            <div class="container">
              <div id="card">
                <div id="card-content">
                  <div id="card-title">
                    <h2 style="color: black;"></h2>
                    <div class="underline-title"></div>
                  </div>
                  <form method="post">
                    <center>
                        <h2>Forgot Password</h2>
                        <table class="table" style="width: 500px;color: white;">
                            <tr>
                                <th style="color: black;">Username</th>
                                <td style="color: white"><input type="text" name="uname"  class="form-control" ></td>
                            </tr>
                            <tr>
                                <th style="color: black;">Email</th>
                                <td><input type="text" name="ph"  class="form-control" ></td>
                            </tr>
                            <tr>
                                
                                <td align="center" colspan="2"><input type="submit" name="next" value="Next" class="btn btn-danger"></td>
            
                            </tr>
                        </table>
                    </center>
                </form>         
        			
                                            	
                </div>
              </div>
            </div>
          </div>
        </div>

       



    </div>
  </div>
</section><!-- End Hero Section -->

				
					

	
	
{% include'public_footer.html' %}