{% include 'pharmacy_header.html' %}
<style>
    form {
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f8f9fa;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    table {
        width: 100%;
    }

    th, td {
        padding: 10px;
        text-align: left;
    }

    select, textarea {
        width: 100%;
        padding: 8px;
        margin: 5px 0;
        box-sizing: border-box;
    }

    input[type="submit"] {
        background-color: #007bff;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #0056b3;
    }

	 .navbar-area {
          background-color: blue; /* Change this to your desired shade of blue */
        }
        .new {
    font-family: serif; /* Replace 'YourNewFont' with the desired font */
    color: black;
    text-align: center;
    font-size: 3em;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(1, 3, 7, 0.2);
    display: inline-block;
    padding: 10px;
}
.small-width {
        max-width: 400px; /* Adjust the width as needed */
        margin: 0 auto;
    }

</style>
<br>
<br><br>
<br>
<div class="container py-lg-5">
	<h2 class="text-center mt-4 mb-4">Update Stock</h2>
   {% if data['view'] %}
   <div class="small-width">
	<form method="post">
		<table>
			<tr>
				<td><input type="number" name="quantity" value="{{data['view'][0]['quantity']}}" min="0"></td>

				<td><input type="submit" name="submit"></td>
			</tr>
		</table>
	</form>
	{% endif %}
	</div>
</div>
{% include 'footer.html' %}
