{% include 'public_header.html'%}
<br>
<br>
<br>
<br>
<br>
<br>
    <div class="container">
        <div class="title">Registration</div>
        <form action="#" method="post">
          <div class="user__details">
            <div class="input__box">
              <span class="details">First Name</span>
              <input type="text" placeholder="E.g: John" name="fname" required>
            </div>
            <div class="input__box">
                <span class="details">Last Name</span>
                <input type="text" placeholder="E.g: Smith" name="lname" required>
              </div>
              <div class="input__box">
                <span class="details">Date of Birth</span>
                <input type="date"  name="dob" id="mydate" required>
              </div>
            <div class="input__box">
              <span class="details">Username</span>
              <input type="text" placeholder="E.g johnWC98" name="username" required>
            </div>
            <div class="input__box">
              <span class="details">Email</span>
              <input type="email" placeholder="E.g johnsmith@hotmail.com" name="email" required>
            </div>
            
            <div class="input__box">
                <span class="details">Address</span>
                <textarea id="" cols="30" rows="10" name="housename" required></textarea>
              </div>
              <div class="input__box">
                <span class="details">Place</span>
                <input type="text" placeholder="Down Town" name="place" required>
              </div>
              <div class="input__box">
                <span class="details">Blood Group</span>
                <select name="blood" id="" class="form-control">
                  <option>--select--</option>
                  <option value="A+">A+</option>
                  <option value="A-">A-</option>
                  <option value="B+">B+</option>
                  <option value="B-">B-</option>
                  <option value="AB+">AB+</option>
                  <option value="AB-">AB-</option>
                  <option value="O+">O+</option>
                  <option value="O-">O-</option>
                </select>
              </div>
            <div class="input__box">
              <span class="details">Phone Number</span>
              <input type="tel"  placeholder="012-345-6789" maxlength="10" name="phone" required>
            </div>
            <div class="input__box">
              <span class="details">Password</span>
              <input type="password" placeholder="********" id="password" required>
            </div>
            <div class="input__box">
              <span class="details">Confirm Password</span>
              <input type="password" placeholder="********" name="password" id="confirm_password" onkeyup="check()" required>
              <span id="message"></span></td>
            </div>
      
          </div>
          <div class="gender__details">
            <input type="radio" name="gender" id="dot-1">
            <input type="radio" name="gender" id="dot-2">
            <input type="radio" name="gender" id="dot-3">
            <span class="gender__title">Gender</span>
            <div class="category">
              <label for="dot-1">
                <span class="dot one"></span>
                <span value="male">Male</span>
              </label>
              <label for="dot-2">
                <span class="dot two"></span>
                <span value="female" >Female</span>
              </label>
              <label for="dot-3">
                <span class="dot three"></span>
                <span value="Prefer not to say">Prefer not to say</span>
              </label>
            </div>
          </div>
          <div class="button">
            <input type="submit" name="submit" value="Register">
          </div>
        </form>
      </div>


<style>
    /* all */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-blue: #71b7e6;
  --main-purple: #9b59b6;
  --main-grey: #ccc;
  --sub-grey: #d9d9d9;
}


/* .container {
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
} */
.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container .title::before {
  content: "";
  position: absolute;
  height: 3.5px;
  width: 30px;
  background: linear-gradient(135deg, var(--main-blue), var(--main-purple));
  left: 0;
  bottom: 0;
}

.container form .user__details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
/* inside the form user details */
form .user__details .input__box {
  width: calc(100% / 2 - 20px);
  margin-bottom: 15px;
}

.user__details .input__box .details {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}
.user__details .input__box input 
{
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--main-grey);
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user__details .input__box input:focus,
.user__details .input__box input:valid
.user__details .input__box textarea {
  border-color: var(--main-purple);
}

/* inside the form gender details */

form .gender__details .gender__title {
  font-size: 20px;
  font-weight: 500;
}

form .gender__details .category {
  display: flex;
  width: 80%;
  margin: 15px 0;
  justify-content: space-between;
}

.gender__details .category label {
  display: flex;
  align-items: center;
}

.gender__details .category .dot {
  height: 18px;
  width: 18px;
  background: var(--sub-grey);
  border-radius: 50%;
  margin: 10px;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .category .one,
#dot-2:checked ~ .category .two,
#dot-3:checked ~ .category .three {
  border-color: var(--sub-grey);
  background: var(--main-purple);
}

form input[type="radio"] {
  display: none;
}

/* submit button */
form .button {
  height: 45px;
  margin: 45px 0;
}

form .button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  background: linear-gradient(135deg, var(--main-blue), var(--main-purple));
  transition: all 0.3s ease;
}

form .button input:hover {
  background: linear-gradient(-135deg, var(--main-blue), var(--main-purple));
}

@media only screen and (max-width: 584px) {
  .container {
    max-width: 100%;
  }

  form .user__details .input__box {
    margin-bottom: 15px;
    width: 100%;
  }

  form .gender__details .category {
    width: 100%;
  }

  .container form .user__details {
    max-height: 300px;
    overflow-y: scroll;
  }

  .user__details::-webkit-scrollbar {
    width: 0;
  }
}

</style>



<script>
  document.addEventListener("DOMContentLoaded", function () {
    var dobInput = document.getElementById("dob");
    var form = document.querySelector("form");

    // Set min date for Date of Birth input
    var currentDate = new Date();
    currentDate.setFullYear(currentDate.getFullYear() - 18); // Subtract 18 years
    dobInput.max = currentDate.toISOString().split('T')[0];

    
  });
</script>


<script src="
https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
<script>
    $(function() {
        $("input[name='fname']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
        $("input[name='lname']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
		$("input[name='place']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
		$("input[name='blood']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
		$("input[name='username']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
		// $("input[name='date']").on('input', function(e) {
        //     $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        // });
        // $("input[name='dob']").on('input', function(e) {
        //     $(this).val($(this).val().replace(/[^0-9/]/g, ''));

        // });
        
        $("input[name='phone']").on('input', function(e) {
        	$(this).val($(this).val().replace(/[^0-9]/g, ''));
            
        });
        $("input[name='pin']").on('input', function(e) {
        	$(this).val($(this).val().replace(/[^0-9]/g, ''));
            
        });
        $("input[name='email']").on('input', function(e) {
              var re = /([A-Z0-9a-z_-][^@])+?@[^$#<>?]+?\.[\w]{1,}/.test(this.value);
                if(!re) {
                    $('#eerror').show();
                } else {
                    $('#eerror').hide();
                }

        });
        $("input[name='address']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z0-9()/. ]/g, ''));

        });
        $("input[name='place']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
            
        $("input[name='password']").on('input', function(e) {
        	$(this).val($(this).val().replace(/[^0-9A-Za-z@/. ]/g, ''));
            
        });
    });



   var check = function() {
  if (document.getElementById('password').value ==
    document.getElementById('confirm_password').value) {
    document.getElementById('message').style.color = 'green';
    document.getElementById('message').innerHTML = 'matching';
  } else {
    document.getElementById('message').style.color = 'red';
    document.getElementById('message').innerHTML = 'not matching';
  }
}

document.addEventListener('DOMContentLoaded', function() {
                 const today = new Date();
                 const formattedDate = today.toISOString().split('T')[0];
                 const dateInput = document.getElementById('mydate');
                 
                 dateInput.max = formattedDate; // Set minimum date  // Set default value to today's date
             });
</script>

{% include 'public_footer.html'%}