
    <!--====== FOOTER PART START ======-->
    <footer id="footer" class="footer-area pt-120">
        <div class="container">
          <div
            class="subscribe-area wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.5s"
          >
            <div class="row">
              <div class="col-lg-6">
                <div class="subscribe-content mt-45">
                  <h2 class="subscribe-title">
                    Subscribe Our Newsletter <span>get reguler updates</span>
                  </h2>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="subscribe-form mt-50">
                  <form action="#">
                    <input type="text" placeholder="Enter eamil" />
                    <button class="main-btn">Subscribe</button>
                  </form>
                </div>
              </div>
            </div>
            <!-- row -->
          </div>
          <!-- subscribe area -->
          <div class="footer-widget pb-100">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-8">
                <div
                  class="footer-about mt-50 wow fadeIn"
                  data-wow-duration="1s"
                  data-wow-delay="0.2s"
                >
                  <a class="logo" href="javascript:void(0)">
                    <img style="border-radius: 80%;" src="static/recep_assets/images/logo/hospital_logo.jpg" alt="logo" />
                  </a>
                  <p class="text">
                    Lorem ipsum dolor sit amet consetetur sadipscing elitr,
                    sederfs diam nonumy eirmod tempor invidunt ut labore et dolore
                    magna aliquyam.
                  </p>
                  <ul class="social">
                    <li>
                      <a href="javascript:void(0)">
                        <i class="lni lni-facebook-filled"> </i>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">
                        <i class="lni lni-twitter-filled"> </i>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">
                        <i class="lni lni-instagram-filled"> </i>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">
                        <i class="lni lni-linkedin-original"> </i>
                      </a>
                    </li>
                  </ul>
                </div>
                <!-- footer about -->
              </div>
              <div class="col-lg-5 col-md-7 col-sm-12">
                <div class="footer-link d-flex mt-50 justify-content-sm-between">
                  <div
                    class="link-wrapper wow fadeIn"
                    data-wow-duration="1s"
                    data-wow-delay="0.4s"
                  >
                    <div class="footer-title">
                      <h4 class="title">Quick Link</h4>
                    </div>
                    <ul class="link">
                      <li><a href="javascript:void(0)">Road Map</a></li>
                      <li><a href="javascript:void(0)">Privacy Policy</a></li>
                      <li><a href="javascript:void(0)">Refund Policy</a></li>
                      <li><a href="javascript:void(0)">Terms of Service</a></li>
                      <li><a href="javascript:void(0)">Pricing</a></li>
                    </ul>
                  </div>
                  <!-- footer wrapper -->
                  <div
                    class="link-wrapper wow fadeIn"
                    data-wow-duration="1s"
                    data-wow-delay="0.6s"
                  >
                    <div class="footer-title">
                      <h4 class="title">Resources</h4>
                    </div>
                    <ul class="link">
                      <li><a href="javascript:void(0)">Home</a></li>
                      <li><a href="javascript:void(0)">Page</a></li>
                      <li><a href="javascript:void(0)">Portfolio</a></li>
                      <li><a href="javascript:void(0)">Blog</a></li>
                      <li><a href="javascript:void(0)">Contact</a></li>
                    </ul>
                  </div>
                  <!-- footer wrapper -->
                </div>
                <!-- footer link -->
              </div>
              <div class="col-lg-3 col-md-5 col-sm-12">
                <div
                  class="footer-contact mt-50 wow fadeIn"
                  data-wow-duration="1s"
                  data-wow-delay="0.8s"
                >
                  <div class="footer-title">
                    <h4 class="title">Contact Us</h4>
                  </div>
                  <ul class="contact">
                    <li>+809272561823</li>
                    <li>info@gmail.com</li>
                    <li>www.yourweb.com</li>
                    <li>
                      123 Stree New York City , United <br />
                      States Of America 750.
                    </li>
                  </ul>
                </div>
                <!-- footer contact -->
              </div>
            </div>
            <!-- row -->
          </div>
          <!-- footer widget -->
          <div class="footer-copyright">
            <div class="row">
              <div class="col-lg-12">
                <div class="copyright d-sm-flex justify-content-between">
                  <div class="copyright-content">
                    <p class="text">
                      Designed and Developed by
                      <a href="https://uideck.com" rel="nofollow">UIdeck</a>
                    </p>
                  </div>
                  <!-- copyright content -->
                </div>
                <!-- copyright -->
              </div>
            </div>
            <!-- row -->
          </div>
          <!-- footer copyright -->
        </div>
        <!-- container -->
        <div id="particles-2"></div>
      </footer>
      <!--====== FOOTER PART ENDS ======-->
  
      <!--====== BACK TOP TOP PART START ======-->
      <a href="#" class="back-to-top"> <i class="lni lni-chevron-up"> </i> </a>
      <!--====== BACK TOP TOP PART ENDS ======-->
  
      <!--====== Javascript Files ======-->
      <script src="static/recep_assets/js/bootstrap.bundle.min.js"></script>
      <script src="static/recep_assets/js/wow.min.js"></script>
      <script src="static/recep_assets/js/glightbox.min.js"></script>
      <script src="static/recep_assets/js/count-up.min.js"></script>
      <script src="static/recep_assets/js/particles.min.js"></script>
      <script src="static/recep_assets/js/main.js"></script>
    </body>
  </html>
