{% include 'admin_header.html'%}




<section class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="header-text">
            <h4>More About Us</h4>
            <h1>About Us</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="get-info">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h1>You can add images here</h1>
        </div>
        <div class="col-lg-6 align-self-center">
          <div class="section-heading">
            <h6>Get info</h6>
            <h4>Read More <em>About Us</em></h4>
            <p>You are allowed 100% to download and use our templates from TemplateMo for your commercial or business websites. You are <strong>not allowed</strong> to redistribute this template ZIP file on any other website without a permission from us.<br><br>There are some unethical people on this planet earth who copied our templates so easily without any permission from us and then reposted on their websites. Their Karma will hit them really hard. Yeah, that is right.</p>
          </div>
          
            
          </div>
        </div>
      </div>
    </div>
  </section>

  

 

  

{% include 'admin_footer.html'%}